section
{
    padding: 10px 0;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}

nav .navbar-brand .green
{
    color: #2e944b;
}

canvas {
    width: 100%;
    margin: auto;
    background: #ececec;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
}

.btn-toggle-no {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
  .btn-toggle-no:hover{
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
  .btn-toggle:hover {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
  
.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    padding-bottom: 1px;
    border-left: 5px solid #eee;
}

.callout h4 {
    margin-top: 0;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout code,
.callout .highlight {
    background-color: #fff;
}

.callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
